{% extends 'app/base.html' %}
{% block content %}

    {% load static %}

    <body>
    <div class="welcome-container">
        <h2>Risky Click</h2>
        <p>Got any posts that might ward off prospective employers? <br> We'll help you sort things out. </p>
        <br>
        <div class="login-buttons">
            <a href="#" class="facebook"><img src="{% static 'app/facebook_button.png' %}" class="facebook"></a>

            <a href="{% url 'results' %}" class="twitter"><img src="{% static 'app/twitter_button.png' %}" class="twitter"></a>
        </div>
    </div>
    </body>

{% endblock %}
